.grid-view {
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  width: 100%;
  overflow: auto; }
  .grid-view td:last-child, .grid-view th:last-child {
    position: sticky;
    right: 0;
    text-align: center; }
  .grid-view td:first-child, .grid-view th:first-child {
    position: sticky;
    left: 0;
    background: #fff; }
  .grid-view .form-control {
    width: auto; }

.table-grid {
  border: none;
  min-width: 100%; }
  .table-grid thead a {
    color: #707070;
    font-weight: normal; }
    .table-grid thead a.asc, .table-grid thead a.desc {
      font-weight: bold; }
  .table-grid thead td, .table-grid thead th {
    border-bottom: none; }
  .table-grid td, .table-grid th {
    border: none;
    padding: 15px 15px;
    color: #212121;
    border-top: 1px solid rgba(0, 0, 0, 0.06); }
  .table-grid tr:hover td {
    background: #FAFAFA; }
  .table-grid .form-control {
    border-color: #ebebeb;
    border-radius: 0; }
    .table-grid .form-control:focus, .table-grid .form-control:target {
      outline: none;
      box-shadow: none;
      border-color: #4755DC; }
  .table-grid .svg {
    fill: #ebebeb; }
    .table-grid .svg:hover {
      fill: #cacaca; }

.table-grid .table-action {
  margin-right: 10px; }

.table-grid td.actions {
  width: 100px; }

.btn-under-table {
  color: #81bd4a;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 10px;
  margin-left: 28px;
  font-weight: bold; }
