.adres-hover:hover .adres-hover-block {
    font-size: 15px;
}
.adres-hover:hover .adres-hover-block a{
    font-size: 15px;
}

.gray.gray-min {
    padding-top: 60px;
    padding-bottom: 80px;
}

.header-yandex .badge-widget{
    display: block;
    width: 119px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.main-page-youtube .youtube {
    background-size: cover;
    width: 100%!important;
    height: 207px!important;
}
.section_slider-new .black-slider {
    height: 525px;
    margin-top: 0;
}
.section_slider-new .black-slider .slider-content {
    height: 525px;
    margin-bottom: 0;
    padding-bottom: 61px;
}
.main-page-youtube  .video-name {
    font-size: 17px;
    color: #fff;
}

.main-page-youtube .video-blog-links {
    margin: 30px 0 52px;
}

.section_slider-new  .black-slider .swiper-slide {
    background-position: 60% 100%;
    background-size: cover;
}
@media (max-width: 399px) {
    .col-xxs-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.tuning {
    background-color: #fff;
}

.tuning-top {
    margin-bottom: 52px;
}

@media (max-width: 991px) {
    .tuning-top {
        margin: 0;
        padding: 20px 0;
    }
}

.tuning-header__model,
.tuning-variants-header__info-container {
    display: flex;
    align-items: center;
    min-height: 110px;
    height: 100%;
}

@media (max-width: 991px) {
    .tuning-header__model {
        min-height: auto;
    }
}

.tuning-header__img img {
    max-width: 80px;
    max-height: 80px;
}

.tuning-header__body-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 16px;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .tuning-header__body-container {
        margin-left: 0;
    }
}

.tuning-header__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #929292;
}

.tuning-header__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000;
}

.btn-selector,
.btn-variant {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.72973px;
    text-transform: uppercase;
    padding: 17px 25px;
    transition: all 0.6s;
}

.btn-selector:hover,
.btn-variant:hover {
    text-decoration: none;
}

.btn-selector,
.btn-selector:hover,
.btn-selector:focus {
    color: #000;
}

.btn-selector:hover {
    background-color: #f3f3f3;
}

.btn-variant {
    border-color: #FF0D35;
    background-color: #FF0D35;
    width: 200px;
    max-width: 100%;
}

.btn-variant,
.btn-variant:focus {
    color: #fff;
}

.btn-variant:hover {
    background-color: transparent;
    color: #FF0D35;
}

.btn-selector img {
    margin-left: 10px;
}

.tuning-variants-header__info {
    text-align: center;
}

.tuning-variants-header__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin-bottom: 16px;
}

.tuning-variants-header__price {
    font-weight: 500;
    font-size: 21px;
    line-height: 22px;
    color: #FF0D35;
}

.tuning-variants-header__info-container {
    justify-content: center;
}

.tuning-variants-header__buy {
    text-align: center;
}

.tuning-header__selector-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.tuning-header__selector {
    position: relative;
}

.tuning-bottom {
    margin-bottom: 50px;
}

.tuning-bottom__property {
    border-top: 1px solid #EFF2F8;
    padding: 27px 0;
}

.tuning-bottom__property-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.tuning-bottom__property-variants,
.tuning-bottom__property-variants .row {
    height: 100%;
}

.tuning-bottom__property-value {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    white-space: nowrap;
}

.tuning-bottom-mobile__variants {
    position: relative;
    overflow: hidden;
}

.tuning-bottom-mobile__variant-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #EFF2F8;
    padding: 26px 0;
}

.tuning-bottom-mobile__variant-bottom-container {
    height: 77px;
}

.tuning-bottom-mobile__variant-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 13;
}

.tuning-bottom-mobile__variant-name {
    margin-bottom: 0;
    margin-right: 12px;
}

.tuning-bottom-mobile__property {
    display: flex;
    align-items: center;
}

.tuning-bottom-mobile__property-value {
    margin-right: 20px;
}

.tuning-slider-button-prev,
.tuning-slider-button-next {
    background: none;
    top: 18px;
    margin-top: 0;
    width: auto;
    height: auto;
    padding: 10px;
}

.tuning-slider-button-prev {
    left: 0;
}

.tuning-slider-button-next {
    right: 0;
}

.tuning-fixed-top .tuning-slider-button-prev {
    left: 10px;
}

.tuning-fixed-top .tuning-slider-button-next {
    right: 10px;
}

.tuning-header-selector__popup {
    position: absolute;
    top: 100%;
    width: 286px;
    background-color: #fff;
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
    border-radius: 6px;
    padding: 10px 0;
    max-height: 400px;
    overflow-y: auto;
    z-index: 15;
}

@media (max-width: 767px) {
    .tuning-header-selector__popup {
        right: 0;
        max-height: 60%;
    }
}

.tuning-header-selector__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 14;
}

@media (max-width: 767px) {
    .tuning-header-selector__popup {
        display: block !important;
        position: fixed;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transition: 0.4s;
    }

    .tuning-selector:not(.is-active) .tuning-header-selector__popup {
        bottom: -100%;
    }

    .tuning-header-selector__overlay {
        display: block;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.tuning-header-selector__popup .mCSB_container {
    margin-right: 0;
}

.tuning-header-selector__popup .mCSB_draggerRail {
    width: 4px;
    background: #DDDDDD !important;
    border-radius: 10px;
}

.tuning-header-selector__popup .mCSB_dragger_bar {
    background: #C4C4C4 !important;
}

.tuning-header-selector__model-name {
    padding: 8px 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #929292;
}

.tuning-header-selector__item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #F9F9F9;
}

.tuning-header-selector__item:hover {
    text-decoration: none;
    background-color: #F9F9F9;
}

.tuning-header-selector__model-name,
.tuning-header-selector__item {
    padding-left: 13px;
    padding-right: 13px;
}

.tuning-header-selector__item-img {
    margin-right: 30px;
}

.tuning-header-selector__item-img img {
    max-width: 30px;
    max-height: 30px;
}

.tuning-header-selector__item-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #000000;
}

.tuning-header-selector__item-selected {
    margin-left: auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #FF0D35;
}

.tuning-header-selector__models-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000;
}

.tuning-selector:not(.is-active) .tuning-selector-overlay,
.tuning-selector:not(.is-active) .tuning-selector-popup {
    display: none;
}

.tuning-fixed-top {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 13;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
}

.tuning-fixed-top .tuning-bottom-mobile__variant-header {
    border-top: none;
    border-bottom: 1px solid #EFF2F8;
    margin-bottom: 22px;
}

.js-tuning-container:not(.is-active) {
    display: none;
}

.tuning-header__selector.is-active .btn-selector img {
    transform: rotate(180deg);
}

.tuning-fixed-top:not(.is-active) {
    display: none;
}
.header-top__social li span {
    color: #979797;
    font-size: 13px;
    margin-right: 0;
    font-weight: 600;
}
.header-top__social li a{
    transition: opacity .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.header-top__social li a:hover {
    color: #979797;
    text-decoration: none;
    opacity: .7;
}

.footer-block .social li span{
    color: #979797;
    font-size: 13px;
    margin-right: 0;
    font-weight: 600;
}

.footer-block .social li a:hover {
    color: #979797;
    text-decoration: none;
    opacity: .7;
}
.adres-hover__action{
    cursor: pointer;
}

@media (max-width: 450px) {
    .social-bottom li a {
        display: flex;
    }

    .footer-block .social.social-bottom li a span {
        text-align: left;
        margin-left: 6px;
    }

    .footer-block .social.social-bottom {
        justify-content: center;
        align-items: center;
    }

}

#menu .mobile-massanger .m-link__telegram{
    flex-direction: column;
}
#menu .mobile-massanger .m-link__telegram a{
    display: flex;
    margin-top: 10px;
}

#menu .mobile-massanger .m-link__telegram a span{
    color: #979797;
    font-size: 14px;
    margin-bottom: 0;
    padding-left: 8px;
}

.youtubePopUp,
.wrapYoutube{
    width: 760px;
    height: 400px;
}
.wrapYoutube iframe{
    width: 100%;
    height: 100%
}

.youtubePopUp {
    background-size: cover;
}

.tabs__newContact .how_to_get__adress {
    margin-bottom: 0;
}
.tabs__newContact .contacts-line__large-number {
    margin-bottom: 0;
}

.tabs__newContact--item{
    align-items: center;
}

.tabs__newContact .contacts-line__large-number{
    margin-left: 15px;
    font-weight: 700;
    margin-right: 5px;
}


.custom-contacts .tabs__newContact--item .contacts-line__large {
    font-size: 21px;
}
#popUpSlider img{
    width: 100%;
}
#popUpSlider  .elipse-btn {
    background: #80808000;
}
#popUpSlider .elipse-btn img {
    width: 19px;

}
#popUpSlider .swiper-pagination-bullet-active {
    background: #FF0D35;
}
.swiper-button-prev{
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M0.5692 10.7804L9.46945 19.6805C9.67531 19.8865 9.95009 20 10.2431 20C10.5361 20 10.8109 19.8865 11.0168 19.6805L11.6722 19.0252C12.0987 18.5983 12.0987 17.9043 11.6722 17.4779L4.19844 10.0041L11.6805 2.52209C11.8863 2.31608 12 2.04144 12 1.7486C12 1.45544 11.8863 1.1808 11.6805 0.974624L11.025 0.319509C10.819 0.113494 10.5444 -4.64773e-08 10.2514 -7.64338e-08C9.95839 -1.06391e-07 9.6836 0.113493 9.47775 0.319509L0.5692 9.22773C0.362853 9.4344 0.24952 9.71032 0.250173 10.0037C0.24952 10.2981 0.362853 10.5739 0.5692 10.7804Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='20' height='12' fill='white' transform='translate(12) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: 14px 27px;
}
.swiper-button-next{
    background-size: 14px 27px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M11.4308 9.2196L2.53055 0.319466C2.32469 0.113466 2.04991 -6.85651e-07 1.75689 -6.72843e-07C1.46389 -6.60035e-07 1.1891 0.113466 0.983244 0.319466L0.327802 0.9748C-0.0986985 1.40173 -0.0986986 2.09573 0.327802 2.52213L7.80156 9.99585L0.31951 17.4779C0.113658 17.6839 -7.96742e-08 17.9586 -7.64337e-08 18.2514C-7.319e-08 18.5446 0.113658 18.8192 0.31951 19.0254L0.974951 19.6805C1.18097 19.8865 1.4556 20 1.7486 20C2.04161 20 2.3164 19.8865 2.52225 19.6805L11.4308 10.7723C11.6371 10.5656 11.7505 10.2897 11.7498 9.99635C11.7505 9.70187 11.6371 9.42611 11.4308 9.2196Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='20' height='12' fill='white' transform='translate(0 20) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

}
#popUpSlider .swiper-slide{
    padding-top: 52px;
}
#popUpSlider .swiper-slide .text {
    background: #ffffff;
    position: absolute;
    left: 0;
    padding: 4px 0px;
    top: 0;
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    line-height: 1.1;
}

.bank-logo {
    display: flex;
    align-items: center; }
.bank-logo img {
    max-width: 100px;
    max-height: 40px;
    margin-left: 15px; }

.polity-list {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 25px; }
.polity-list li a {
    color: #7B7B7B;
    font-size: 14px; }
.polity-list li a:hover {
    color: #999; }
.recvizit {
    padding-left: 10px;
    margin-bottom: 30px; }
.recvizit li {
    font-size: 12px; }


@media (max-width: 991px) {
    .modal-lg, .modal-xl {
        max-width: 650px;
    }
    .how_to_get__adress {
        flex-direction: column;
    }
    .custom-contacts .tabs__newContact--item .contacts-line__large {
        font-size: 18px;
    }
    .youtubePopUp, .wrapYoutube {
        width: 100%;
        height: 347px;
    }
}


@media (max-width: 767px){
    .main-page-youtube .video-blog-links {
        margin: 0;
    }
    .main-page-youtube__all{
        margin-bottom: 30px;
    }
    .main-page-youtube__all .title {
        font-size: 26px;
    }
    .main-page-youtube .mb-5, .my-5 {
        margin-bottom: 1rem!important;
    }
    #popUpSlider .swiper-slide .text {
        background: #ffffff;
        position: absolute;
        left: 0;
        padding: 4px 0px;
        top: 0;
        font-weight: 500;
        font-size: 14px;
        width: 100%;
        line-height: 1.1;
    }
    .how_to_get {
        display: flex;
        justify-content: flex-start!important;
        padding-top: 7px;
        padding-bottom: 10px;
    }
    .custom-contacts .contacts-line__small {
        font-size: 14px;
    }
    .custom-contacts .tabs__newContact--item .contacts-line__large {
        font-size: 16px;
    }


}

.swiper-block__price.smtext{
    font-size: 18px;
}
.slider-no-price-text{
    font-size: 18px;
}
.tuning .swiper-button-next, .swiper-button-prev {

    background-image: none!important;
}

.video-blog-links{
    overflow: hidden;
}
.video-blog-links .youtube {
    MAX-WIDTH: 100%;
    MAX-HEIGHT: 100%;
}

@media (max-width: 365px){
    .btn {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #ffffff;
        padding: 12px 13px;
        background: #FF0D35;
        border-radius: 2px;
        transition: all 0.6s;
        border: 1px solid #FF0D35;
        line-height: 15px;
    }
}