header {
    display: none !important;
}
.polity-list {
    list-style: none;
}
.remont .advantages {
    padding: 0;
}
.header-course__logo img {
    width: 100%;
    height: 100%;
}
.header-course__logo {
    width: 186px;
    height: 18px;
}
.header-course li {
    font-size: 10px;
    line-height: 22px;
}
.header-course__top-left {
    align-items: baseline;
}
.header-course__bg-image1-mob {
    display: none;
}
.header-course__go-back {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-left: 16px;
    cursor: pointer;
    color: #FFFFFF;
}
.remont li {
    font-size: 10px;
    line-height: 20px;
}

.remont li span {
    font-size: 14px;
    line-height:20px;
}
.header-course li span{
    font-size: 16px;
    line-height:22px;
    width: 100%;
    display: block;
}
.header-course__bottom-list {
    padding-left: 15px;
    margin: 0;
}
.follow-us {
    align-items: center;
}
.follow-us__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #979797;
    margin-right: 30px;
}
.follow-us .social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: -24px;
}
.follow-us .social li {
    margin-right: 24px;
}
.follow-us .social li a:hover{
    opacity: 0.7;
}
.follow-us .social li a {
    transition: opacity .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.header-course {
    padding: 41px 0;
    height: fit-content;
    overflow: hidden;
    position: relative;
    background-image: url("/local/templates/motion_new/images/header_backgr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-course__bg-image1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    height: 100%;
    /*width: 100%;*/
    /*object-fit: cover;*/
    /*transform: rotate(21.7deg);*/
}
.header-course__bg-image2 {
    position: absolute;
    top: 111px;
    right: 6px;
    z-index: 10;
    /*width: 100%;*/
    /*object-fit: cover;*/
    /*transform: rotate(21.7deg);*/
}
.header-course__top {
    margin-bottom: 79px;
    position: relative;
    z-index: 12;
}
.header-course__middle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 78px;
    position: relative;
    z-index: 12;
}
.header-course__middle h2 {
    max-width: 48%;
    font-weight: 600;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.header-course__icon-wrapper {
    padding: 4px 29px 3px;
    border: 0.771044px solid #313131;
    border-radius: 4.62626px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 12;
}

.header-course__icon-wrapper +.header-course__icon-wrapper {
    margin-left: 13px;
    padding: 15px 27px;

}
.header-course__promo {
    padding: 11px 24px;
    color: #FF0D35;
    background: rgba(255, 13, 53, 0.2);
    border-radius: 100px;
    margin-bottom: 15px;
    position: relative;
    font-weight: bold;
    z-index: 12;
    font-size: 18px;
}
.header-course__bottom {
    position: relative;
    z-index: 12;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;


}
.header-course .btn {
    margin-right: 37px;

}
.after-course .btn {
    margin-left: 45px;
}
.header-course .btn,
.forWho .btn,
.after-course .btn,
.dark .btn{
    padding: 23.5px 47px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

}
.header-course__bottom-list li{
    width: 196px;
    height: 44px;
}
.header-course__bottom-list li +li {
    margin-left: 44px;
}
.about-us {
    padding-top: 100px;
}
.image-large img {
    width: 100%;
    height: auto;
    margin-bottom: 49px;
}
.remont {
    letter-spacing: -0.02em;
}
.remont .title {
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
}
.remont .advantages__remont-list {
    width: 100%;
    align-items: baseline;
}
.remont .section-youtubeButton {
    margin-top: 3px;
    margin-bottom: 129px;
}
.remont  .advantages__remont-list div{
    width: 227px;
}

.advantages__remont-list .advantages__t{
    font-size: 18px;
    line-height: 28px;
}
.remont .advantages__block:nth-child(1) img {
    margin-bottom: 26px;
}
.remont .advantages__block:nth-child(1) img {
    margin-bottom: 19px;
}
.remont .advantages__block:nth-child(1) img {
    margin-bottom: 22px;
}
.remont .advantages__block:nth-child(1) img {
    margin-bottom: 20px;
}
.remont .youtubeButton {
    padding: 20px 33px 20px 35px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.remont .youtubeButton__text {
    padding: 0;
}
.remont .youtubeButton__left,
.remont .youtubeButton__right {
    display: flex;
    align-items: center;
}
.remont .youtubeButton__icon {
    margin-right: 28px;
}


.remont .youtubeButton__text--gray {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #929292;
    margin-right: 30px;
}
.forWho {
    margin-bottom: 119px;
}
.forWho__inner > div {
    width: calc(50% - 20px);
}
.forWho__list {
    list-style: none;
    font-weight: 500;
    margin-bottom: -70px;
    padding-left: 50px;


}
.forWho__item {
    margin-bottom: 65px;
}
.forWho__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    width: 458px;
}
.forWho__large-number {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #FF0D35;
    margin-bottom: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.program__place-item-title {
    font-size: 16px;
    line-height: 22px;
    color: #929292;
    margin-bottom: 11px;
}
.program__place-item-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px
}
.vertical-line {
    height: inherit;
    width: 1px;
    background: #D8D8D8;
    margin-left: 66px;
    margin-right: 70px;
}
/*.program__place-item {*/
/*    padding-right: 66px;*/
/*}*/
/*.program__place-item +  .program__place-item {*/
/*    padding-right: 0px;*/
/*    padding-left: 70px;*/
/*    border-left: 1px solid #D8D8D8;*/

/*}*/
/*.program__place-item:nth-child(odd) {*/
/*}*/
/*.program__place-item:nth-child(even) {*/
/*    padding-left: 70px;*/
/*}*/
.program__place-item:last-child {
    padding-right: 0;
    padding-left: 0px;


}

.program__inner {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 49px;
    padding-top: 65px;
}
.program__part + .program__part {
    padding-top: 74px;
    border-top: 1px solid #E7E7E7;
}
.program__part-left {
    width: 37%;
}

.program__part-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 15px;
}
.program__part-days {
    width: 73px;
    height: 35px;
    background: rgba(255, 13, 53, 0.1);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FF0D35;
    font-weight: bold;

}
.program__module {
    width: 100%;
    padding-top: 11px;
}
.program__module-item {
    padding-bottom: 42px;
}
.program__module-item + .program__module-item {
    padding-top: 36px;
    border-top: 1px solid #E7E7E7;
}
/* .program__part .program__module-item:last-child {*/
/*    border-bottom: none;*/
/*}*/
.program__module-item-left {
    flex:0 0 33%;
}
.program__module-item-right {
    flex:0 0 67%;
}
.program__module-item-count {
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ABABAB;
    margin-bottom: 10px;
}
.program__module-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.program__module-item-list {
    color: #686868;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: -13px;
}
.program__module-item-list li {
    margin-bottom: 10px;
}
.after-course {
    padding-top: 81px;
    padding-bottom: 68px;
}
.after-course__top {
    margin-bottom: 68px;
    align-items: center;
}
.after-course .title {
    max-width: 456px;
    margin-bottom: 0;
}
.after-course__list {
    gap: 20px;
}
.after-course__item {
    /*padding: 59px 75px 42px;*/
    height: 243px;
    border: 1px solid #E2E2E2;
    border-radius: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 10px);
    text-align: center;
}
.after-course__item:nth-child(1) img {
    max-width: 60px;
    margin-bottom: 50px;
}
.after-course__item:nth-child(2) img {
    max-width: 82px;
    margin-bottom: 44px;
}
.after-course__item:nth-child(3) img {
    max-width: 119px;
    margin-bottom: 59px;
}
.after-course__item:nth-child(4) img {
    max-width: 82px;
    margin-bottom: 50px;
}
footer {
    background: #181818
}
.dark {
    background: #181818;
    color: #FFFFFF;
    padding-top: 106px;
    padding-bottom: 72px;
}
.about-cost__item {
    background: #FFFFFF;
    border-radius: 16px;
    color: #13171E;
    width: calc(50% - 2.5px);
    font-weight: 500;
}
.about-cost__item:nth-child(1) {
    padding: 73px 61px 54px;

}
.about-cost__item:nth-child(2) {
    padding: 67px 50px 45px;

}

.about-cost__all-info {
    font-size: 16px;
    line-height: 20px;
    color: #929292;
    margin-bottom: 17px;
}
.about-cost__all-price {
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 54px;
}
.about-cost__part {
    padding-bottom: 54px;
    border-bottom: 1px solid #E2E2E2;

}
.about-cost__part-item + .about-cost__part-item {
    margin-left: 66px;
}

.about-cost__part-title {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 18px;
}
.about-cost__part-price {
    font-weight: 600;
    font-size: 30px;
    line-height: 49px;
    margin-bottom: 5px;
}
.about-cost__part-info {
    font-size: 13px;
    line-height: 20px;
    color: #929292;
}
.about-cost__info {
    padding-top: 53px;
}
.about-cost__info-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 7px;
}
.about-cost__info-list {;
    font-size: 16px;
    line-height: 30px;
    color: #929292;
}
.about-cost__item .title {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
}
.about-cost__item .form__wrap {
    padding: 32px 0 8px;
}
.about-cost__item .form-group {
    margin-bottom: 1.5rem;
}

.about-cost__item .form-control {
    padding: 18px 20px;
    background: #F8F8F8;
    height: 56px;
}
.about-cost__item .btn {
    width: 100%;
}
.about-cost__item form {
    margin-bottom: 40px;
}
.about-cost__item .privacy {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #929292
}

@media screen and (max-width: 1050px) {
    .forWho__list {
        padding-left: 25px;
    }
}
@media screen and (max-width: 1024px) {
    .header-course__bg-image1 {
        right: -40%;
    }
    .header-course__bg-image2 {
        right: 0;
    }
    .advantages__remont-list {
        width: fit-content !important;
        margin: 0 auto;
    }
    .advantages__remont-list .advantages__block {
        width: calc(50% - 40px) !important;
    }
    .forWho__list {
        padding-left: 0px;
    }
    .forWho__inner > div {
        width: 50%;
    }
    .remont .youtubeButton__left, .remont .youtubeButton__right {
        flex-direction: column;
    }
    .remont .youtubeButton__left {
        align-items: flex-start;
    }
    .remont .youtubeButton__icon,
    .remont .youtubeButton__text--gray {
        margin-bottom: 13px;
    }
}
@media screen and (max-width: 990px) {
    .program__top {
        flex-direction: column;
    }
    .program__place {
        margin-bottom: 40px;
    }
    .program__part {
        flex-direction: column;
    }
    .program__part + .program__part {
        padding-top: 50px;
    }
    .program__part-left {
        width: 100%;
        margin-bottom: 40px;
    }
    .after-course__top {
        flex-direction: column;
        align-items: unset;
    }
    .after-course .title {
        width: 100%;
        margin-bottom: 40px;

    }
    .about-cost {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .about-cost__item {
        width: 600px;
        max-width: 100%;
    }
    .dark {
        padding-top: 70px;
    }
}
@media screen and (max-width: 960px) {
    .header-course__go-back {
        display: none;
    }
    .header-course__top {
        margin-bottom: 60px;
    }
    .header-course__top-right {
        display: none;
    }
    .header-course__bg-image2 {
        display: none;
    }
    .header-course__bottom > div {
        flex-direction: column;
    }
    .header-course__bottom-list {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 900px) {
    .forWho__inner > div {
        width: 100%;
    }
    .forWho__inner {
        flex-direction: column;
    }
    .forWho__list {
        width: 100%;
    }
    .forWho__text {
        width: unset;
    }
    .vertical-line {
        margin: 0 20px;
    }
    .program__top {
        flex-direction: column;
    }
    .program__place {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 768px) {
    .header-course__bg-image1 {
        right: -60%;
    }
    .after-course__list {
        gap: 32px;
    }
    .after-course__item {
        width: 100%;
    }
    .after-course .title {
        max-width: unset;
    }
}

@media screen and (max-width: 650px) {



    .header-course__top {
        margin-bottom: 30px;
    }
    .header-course__promo {
        padding: 7px 12px 7px 24px;
        font-size: 7px;
        line-height: 9px;
        margin-bottom: 30px;
    }
    .header-course li span {
        font-size: 11px;
        line-height: 18px;
    }
    .header-course .btn {
        padding: 19px 29.5px;
        margin-bottom: 28px;
        font-size: 15px;
        line-height: 18px;
    }
    .header-course__bottom-list + div {
        flex-direction: column;
    }
    .header-course__middle h2 {
        font-size: 27px;
        line-height: 39px;
        margin-bottom: 29px;
        max-width: unset;
    }
    .header-course__middle {
        margin-bottom: 20px;
    }
    .header-course__bottom-list {
        margin-bottom: 195px;
    }
    .about-us {
        padding-top: 31px;
    }
    .image-large img {
        margin-bottom: 25px;
    }
    .advantages__remont-list {
        gap: 11px;
    }
    .remont .advantages__remont-list div {
        width: unset;
    }
    .advantages__remont-list .advantages__block {
        width: calc(50% - 11px) !important;
        align-items: flex-start;
        text-align: left;
    }
    .advantages__remont-list .advantages__block img {
        width: 60px !important;
        height: 60px;
        margin: 0;
        margin-bottom: 13px;
    }
    .advantages__remont-list .advantages__t {
        font-size: 14px;
        line-height: 22px
    }
    .remont .section-youtubeButton {
        margin-bottom: 13px;
    }
    .advantages__title {
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 23px;
    }
    .forWho .btn, .after-course .btn, .dark .btn {
        font-size: 14px;
        line-height: 17px;
        padding: 25px 39px;
    }
    .advantages__left {
        margin-bottom: 65px;
    }
    .forWho__text {
        font-size: 16px;
        line-height: 27px;
    }
    .forWho__item {
        margin-bottom: 30px;
    }
    .forWho {
        margin-bottom: 97px;
    }
    .program {
        background: #FFFFFF;
    }
    .program__inner {
        padding: 0;
        border-radius: 0;
    }
    .program .program__place-item-title {
        font-size: 12px;
        line-height: 9px;
        margin-bottom: 28px;
    }
    .program .program__place-item-text {
        font-size: 13px;
        line-height: 9px;
    }
    .vertical-line {
        margin-right: 28px;
        margin-left: 35px;
    }
    .remont .title {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 23px;
    }
    .program__module-item {
        flex-direction: column;
    }
    .program__module-item-left {
        margin-bottom: 20px;
    }
    .program__module-item-list {
        padding-left: 15px;
    }
    .program__part-left {
        margin-bottom: 52px;
    }
    .program__module-item + .program__module-item {
        padding-top: 38px;
        border-top: unset;
    }
    .program__module-item {
        padding-bottom: 0;
    }
    .after-course {
        padding-top: 0;
    }
    .after-course__top {
        margin-bottom: 47px;
    }
    .after-course__list {
        margin-right: -15px;
        margin-left: -15px;
        align-items: center;
        overflow: hidden;
    }
    .after-course__item {
        border: none;
        border-top:1px solid #E2E2E2 ;
        border-bottom: 1px solid #E2E2E2;
        border-radius: 0;
    }
    .after-course__item-text {
        font-size: 13px;
        line-height: 16px;
    }
    .after-course__item:nth-child(1) img {
        margin-bottom: 36px;
    }
    .after-course__item:nth-child(2) img {
        margin-bottom: 34px;
    }
    .after-course__item:nth-child(3) img {
        margin-bottom: 46px;
    }
    .after-course__item:nth-child(4) img {
        margin-bottom: 28px;
    }
    .after-course .btn {
        padding: 25px 49px;
    }
    .after-course__top > div {
        flex-direction: column;
    }
    .after-course__top  .btn {
        margin-left: 0;
        margin-top: 32px;
    }
    .program__part {
        padding-top: 39px;
        padding-bottom: 21px;
    }
    .program__part + .program__part{
        padding-top: 39px;
        border-top: unset;
    }
    .dark {
        padding-top: 34px;
    }
    .dark__top {
        flex-direction: column;
    }
    .dark .program__place-item {
        margin-bottom: 40px;
    }
    .dark .program__place-item {
        margin-bottom: 29px;
    }
    .about-cost__item:nth-child(1) {
        padding: 19px 31px 25px;
    }
    .about-cost__item:nth-child(2) {
        padding: 12px 31px 15px;
    }
    .about-cost__all-info {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 16px;
    }
    .about-cost__all-price {
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 16px;
    }
    .about-cost__part-title {
        font-size: 13px;
        line-height: 27px;
        margin-bottom: 7px;
    }
    .about-cost__part-price {
        font-size: 20px;
        line-height: 49px
    }
    .about-cost__part-info {
        font-size: 10px;
    }
    .about-cost__part {
        padding-bottom: 14px;
    }
    .about-cost__info {
        padding-top: 9px;
    }
    .about-cost__info-title {
        font-size: 14px;
    }
    .about-cost__info-list {
        font-size: 8px;
        line-height: 16px;
    }
    .about-cost__item .title {
        font-size: 19px;
        line-height: 28px;
        margin: 0;
    }
    .about-cost__item .form__wrap {
        padding-top: 16px;
    }
    .about-cost__item .form-control {
        padding: 10.5px;
        font-size: 13px;
        line-height: 20px;
        height: 42px;
    }
    .about-cost__item .btn {
        padding-top: 12.5px;
        padding-bottom: 12.5px;


    }
    .about-cost__item form {
        margin-bottom: 12px;
    }
    .about-cost__item .privacy {
        font-size: 7px;
        line-height: 9px;
        width: 70%;
        margin: 0 auto;
    }
    .header-course__bg-image1 {
        display: none;
    }
    .header-course__bg-image1-mob {
        display: block;
        position: absolute;
        width: 608px;
        height: auto;
        top: 17%;
        left: 24%;
    }
    .remont .youtubeButton {
        padding: 12px 16px 16px;
    }
    .remont .youtubeButton__text--gray {
        margin: 0;
        margin-bottom: 13px;
        font-size: 8px;
        line-height: 10px;
        padding-top: 7px;
    }
    .youtubeButton__text {
        font-size: 17px;
        line-height: 21px;

    }
    .remont .youtubeButton__icon {
        width: 61px;
        height: 14px;
    }
    .remont .youtubeButton__icon img {
        width: 100%;
    }
    .youtubeButton .btn {
        font-size: 9px;
        line-height: 11px;
        padding: 10px 12px 11px 13px;
    }
    .youtubeButton__left {
        align-self: flex-start;
    }
}